{%extends "base.html"%}

{% block content %}

<!-- PRODUCT -->

<body class="text-center">
    <form class="form-register">
        <img class="mb-4" src="{{url_for('static', filename = 'image/logo2.png')}}" alt="" class="logo1">
        <h1 class="h3 mb-3 font-weight-normal">Add product</h1>
        <label for="inputUrl_image" class="sr-only">Url image</label>
        <input type="username" id="inputUrl_image" class="form-control" placeholder="Url image" required autofocus>
        <label for="inputStatus" class="sr-only">Status</label>
        <input type="username" id="inputUstatus" class="form-control" placeholder="Status" required autofocus>
        <label for="inputvendor" class="sr-only">vendor</label>
        <input type="username" id="inputVendor" class="form-control" placeholder="Vendor" required autofocus>
        <label for="inputname" class="sr-only">name</label>
        <input type="username" id="inputname" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPrice" class="sr-only">Price</label>
        <input type="Username" id="inputPrice" class="form-control" placeholder="Price" required autofocus>
        <label for="inputProcessor" class="sr-only">Processor</label>
        <input type="username" id="inputProcessor" class="form-control" placeholder="Processor" required autofocus>
        <label for="inputram" class="sr-only">ram</label>
        <input type="username" id="inputram" class="form-control" placeholder="ram" required autofocus>
        <label for="inputMemory" class="sr-only">Memory</label>
        <input type="username" id="inputMemory" class="form-control" placeholder="Memory" required autofocus>
        <label for="inputCamera" class="sr-only">Camera</label>
        <input type="username" id="inputCamera" class="form-control" placeholder="Camera" required autofocus>
        <label for="inputOther_description" class="sr-only">Other_description</label>
        <input type="username" id="inputOther_description" class="form-control" placeholder="Other_description" required autofocus>
        <label for="inputstock" class="sr-only">stock</label>
        <input type="username" id="inputstock" class="form-control" placeholder="stock" required autofocus>
        <label for="inputLocation" class="sr-only">Location</label>
        <input type="Telephone" id="inputLocation" class="form-control" placeholder="Location" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add product</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>
</body>

{% endblock %}