<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename = 'css/10.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet"> 
</head>

<body style="font-family: 'Source Serif Pro', serif">
    <!-- header -->
    <div class="container-fluid">
        <div class="row backblack">
            <div class="col-md-3 col-12 textcenter">
                <img src="{{url_for('static', filename = 'image/logo2.png')}}" class="logo1" alt="">

            </div>
            <div class="col-md-9 col-12">
                <div class="row justify-content-center paddingtop30">
                    <div class="col-8">
                        <!-- <input type=" text" name="search" placeholder="Search.." class="search h22 ">
                        <button type="submit" class="buttonsearch"><i class="fa fa-search ">cari</i></button> -->
                        <form class="find" action="{{url_for('search')}}">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search">Find</i></button>
                        </form>
                    </div>
                    <div class="col-md-4 col-12">
                        <a href="{{url_for('cart')}}"><img src="{{url_for('static', filename = 'image/cart.png')}}" class="cart " alt=""></a>
                        <a href="{{url_for('register')}}" class="btn btn-outline-primary margin5 bwhite"><span class="cwhite">Register</span></a>
                        <a href="{{url_for('signin')}}" class="btn btn-outline-primary margin5 bwhite"><span class="cwhite">Login</span></a>
                    </div>
                </div>
                <!-- toggler cari !!!!! -->

                <div class="row justify-content-start backblack">
                    <nav class="navbar navbar-expand-sm bg-light backblack ">
                        <ul class="navbar-nav">
                            <li class="nav-item textcenter ">
                                <a class="nav-link cwhite" href="{{url_for('home')}}">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link cwhite" href="{{url_for('listproduct')}}">List product</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link cwhite" href="{{url_for('addproduct')}}">Add product</a>
                            </li>
                        </ul>
                        <li class="dropdown">
                            <button class="mainmenubtn margindown14">Category</button>
                            <div class="dropdown-child">
                                <a href="{{url_for('category')}}">New</a>
                                <a href="">Second</a>
                                <a href="">Apple</a>
                                <a href="">Asus</a>
                                <a href="">Oppho</a>
                                <a href="">Samsung</a>
                                <a href="">Sony Xperia</a>
                                <a href="http://wwww.yourdonain.com/page5.html">xiaomi</a>
                            </div>
                        </li>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- ini body -->
    {% block content %}
    {% endblock %}
    <!-- footer -->
    <div class="container-fluid">
        <div class="row backblack ">
            <div class="col-2 textcenter">
                <img src="{{url_for('static', filename = 'image/logo2.png')}}" class="logo1" alt="">
            </div>
            <div class="col-md-2 col-12 textcenter paddingtop20">
                <table class="text-center">
                    <tr class="">
                        <td><a href="#"><span>Gadget.inc</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="{{url_for('about')}}"><span class="cwhite">About us</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="{{url_for('contactus')}}"><span class="cwhite">Contact us</span></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 col-12 textcenter paddingtop20">
                <table>
                    <tr class="">
                        <td><a href="#"><span>Buy</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="#"><span class="cwhite">How to buy</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="{{url_for('checkout')}}"><span class="cwhite">Checkout</span></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 col-12 textcenter paddingtop20">
                <table>
                    <tr class="">
                        <td><a href="#"><span>Sell</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="#"><span class="cwhite">How to sell</span></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 col-12 textcenter paddingtop20">
                <table>
                    <tr class="">
                        <td><a href="#"><span>Follow us</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="http://www.instagram.com"><span class="cwhite">Instagram</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="http://www.twitter.com"><span class="cwhite">Twitter</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="http://www.facebook.com"><span class="cwhite">Facebook</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="http://www.linkedin.com"><span class="cwhite">linkedin</span></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 col-12 textcenter paddingtop20">
                <table>
                    <tr class="">
                        <td><a href="#"><span>References</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="http://www.tabloidpulsa.co.id"><span class="cwhite">Tabloid pulsa</span></a></td>
                    </tr>
                    <tr class="">
                        <td><a href="http://www.gsmarena.com"><span class="cwhite">GSM Arena</span></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script> -->
</body>