{%extends "base.html"%}

{% block content %}

<!-- PRODUCT -->


<div class="container-fluid">
    <div class="row justify-content-Start">
        <h2 class="margin20px">"Cart"</h2>
    </div>
</div>
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12 borderproduct marginauto textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s9.jpeg')}}" class="imgproduct" alt=""></a>
            <table class="marginauto">
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S9</span></a></td>
                </tr>
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>13.500.000</span></td>
                </tr>
                <tr class="">
                    <td><span>QTY</span></td>
                    <td><span>:</span></td>
                    <td><span>1</span></td>
                </tr>
            </table>
            <a class="btn btn-primary " style="background-color:red" href="">Remove</a>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12 borderproduct marginauto textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s9.jpeg')}}" class="imgproduct" alt=""></a>
            <table class="marginauto">
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S9</span></a></td>
                </tr>
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>13.500.000</span></td>
                </tr>
                <tr class="">
                    <td><span>QTY</span></td>
                    <td><span>:</span></td>
                    <td><span>1</span></td>
                </tr>
            </table>
            <a class="btn btn-primary " style="background-color:red" href="">Remove</a>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12 borderproduct marginauto textcenter margin20">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    <table class="marginauto">
                        <tr class="">
                            <td><span>Total quantity</span></td>
                            <td><span>:</span></td>
                            <td><span>2</span></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6 col-12">
                    <table class="marginauto">
                        <tr class="">
                            <td><span>Total price</span></td>
                            <td><span>:</span></td>
                            <td><span>26.500.000</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <form class="form-signin" action="{{url_for('checkout')}}" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">Checkout</button>
    </form>
</div>
{% endblock %}