{%extends "base.html"%}

{% block content %}

<!-- PRODUCT -->


<div class="container-fluid">
    <div class="row justify-content-Start">
        <h2 class="margin20px">Category</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4 col-12 borderproduct textcenter margin20">
            <a href="#"><img src="{{url_for('static', filename = 'image/s10.jpg')}}" class="imgproduct" alt=""></a>
            <table>
                <tr class="">
                    <td><span>Name</span></td>
                    <td><span>:</span></td>
                    <td><a href="#"><span>Samsung galaxy S10</span></a></td>
                </tr>
                <tr class="">
                <tr class="">
                    <td><span>Price</span></td>
                    <td><span>:</span></td>
                    <td><span>18.000.000</span></td>
                </tr>
                <tr class="">
                    <td><span>Location</span></td>
                    <td><span>:</span></td>
                    <td><span>malang</span></td>
                </tr>
                <tr class="">
                    <td><span>seller</span></td>
                    <td><span>:</span></td>
                    <td><span>ozil</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}